@{
    ViewBag.Title = "PaymentMode";
}

<h2>Payment Mode</h2>

<h3>Total Amount : Rs.@ViewBag.TotalAmount</h3>
<h3>Delivery Address : @ViewBag.Deliver</h3>

<div>
    @Html.ActionLink("Back to List", "GetProducts")
</div>
